adsputils==v1.2.7
alembic==0.9.1
cachetools==1.1.5
python-Levenshtein==0.12.0
psycopg2==2.8.6
numpy==1.22 # 1.16.6 is not compatible with M1. 
matplotlib==3.5.0 #2.0.2 is not compatible with Python 3.8
portalocker==1.7.1